.container {
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

#demo .rw-row > div {
  background: #00a0e9;
  padding: 16px 0; }

#demo .rw-row > div:nth-child(odd) {
  background: rgba(0, 160, 233, 0.7);
  padding: 16px 0; }

.slider {
  width: 200px;
  border-right: 1px solid #f2f2fe; }
  .slider > div {
    padding: 10px;
    border-bottom: 1px solid #f2f2fe;
    cursor: pointer; }
  .slider .active {
    background: #3399ff;
    color: #fff; }

.content {
  overflow: auto;
  padding: 10px;
  border: 1px solid #f2f2f2;
  -ms-flex: 1 1;
      flex: 1 1; }

.table-tree {
  border-collapse: collapse; }
  .table-tree tbody tr:hover {
    background-color: #efefef; }
  .table-tree td {
    border-bottom: 1px solid #f2f2f2; }

.dialog {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  text-align: center;
  background: #efefef; }

.s-item {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 350px; }

.is-error {
  color: red; }

.animated {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

.animated.delay500 {
  -webkit-animation-delay: .5s;
          animation-delay: .5s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  from {
    opacity: .1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: .1; }
  to {
    opacity: 0; } }

.fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeBottomIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeBottomIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.fadeBottomIn {
  -webkit-animation-name: fadeBottomIn;
          animation-name: fadeBottomIn; }

@-webkit-keyframes fadeBottomOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%); } }

@keyframes fadeBottomOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%); } }

.fadeBottomOut {
  -webkit-animation-name: fadeBottomOut;
          animation-name: fadeBottomOut; }

@-webkit-keyframes fadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInTop {
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight; }

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0); } }

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
            transform: translate3d(-20px, 0, 0); } }

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
          animation-name: fadeOutLeft; }

@-webkit-keyframes k-loadingF {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes k-loadingF {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.k-letter {
  -webkit-animation-name: k-loadingF;
          animation-name: k-loadingF;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
          animation-direction: linear;
  display: inline-block; }

@-webkit-keyframes cycle-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes cycle-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.cycle-loading {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  border-style: solid;
  -webkit-animation: cycle-loader 1.1s infinite linear;
          animation: cycle-loader 1.1s infinite linear; }

.rw-form-label-left .rw-form-item-label {
  text-align: left; }

.rw-form-label-top .rw-form-item-label {
  float: none;
  display: inline-block;
  padding: 0 0 10px 0; }

.rw-form-inline .rw-form-item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top; }

.rw-form-item {
  margin-bottom: 24px; }
  .rw-form-item-label {
    text-align: left;
    font-size: 12px;
    color: #515a6e;
    padding: 10px 12px 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    white-space: nowrap; }
  .rw-form-item-content {
    position: relative;
    font-size: 12px; }
  .rw-form-item-position-top {
    display: block; }
  .rw-form-item-position-top .rw-form-item-label {
    padding: 0 0 10px 0; }
  .rw-form-item-position-left, .rw-form-item-position-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .rw-form-item-position-left .rw-form-item-label, .rw-form-item-position-right .rw-form-item-label {
      padding: 0 10px 0 0; }
    .rw-form-item-position-left .rw-form-item-content, .rw-form-item-position-right .rw-form-item-content {
      -ms-flex: auto;
          flex: auto; }
  .rw-form-item-position-left.rw-form-item-align-items-top, .rw-form-item-position-right.rw-form-item-align-items-top {
    -ms-flex-align: start;
        align-items: flex-start; }
  .rw-form-item-position-left.rw-form-item-align-items-bottom, .rw-form-item-position-right.rw-form-item-align-items-bottom {
    -ms-flex-align: end;
        align-items: flex-end; }
  .rw-form-item-position-left .rw-form-item-label {
    text-align: left; }
  .rw-form-item-position-right .rw-form-item-label {
    text-align: right; }
  .rw-form-item-inline {
    display: inline-block;
    vertical-align: top; }
  .rw-form-item-position-left.rw-form-item-inline, .rw-form-item-position-right.rw-form-item-inline {
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .rw-form-item .rw-form-item {
    margin-bottom: 0; }
  .rw-form-item .rw-form-item .rw-form-item-content {
    margin-left: 0 !important; }
  .rw-form-item-help, .rw-form-item-error-tip {
    position: absolute;
    top: 100%;
    left: 0;
    line-height: 1;
    padding-top: 5px; }
  .rw-form-item-error-tip {
    color: #ed4014; }
  .rw-form-item-required .rw-form-item-label:before {
    content: "*";
    display: inline-block;
    margin-right: 4px;
    line-height: 1;
    font-family: SimSun;
    font-size: 12px;
    color: #ed4014; }
  .rw-form-item-error .rw-form-item-help {
    color: #ed4014; }


/*# sourceMappingURL=index.2116b9ed.css.map*/